<div class="absolute top-0 left-0 w-screen h-screen ">
  <div class="flex flex-col w-screen h-3/4 justify-between items-center gap-3 my-16">
    <h1 class="text-4xl font-bold z-10 pt-[45%] text-[#434b54]">Expense Tracker</h1>
    <div class="flex flex-col gap-3 w-screen px-3">
      <span class="rounded-[6px] border-2 r py-2 px-4 text-center text-white bg-[#3778c2] mx-auto w-full"><%= link_to "LOG IN", new_user_session_path %></span>
      <span class=" py-1 px-4 text-center text-gray-500 mx-auto w-5/6"><%= link_to "SIGN UP", new_user_registration_path %></span>
    </div>
  </div>
</div>
