/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.links_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.messages {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  color: white;
  padding: 0;
  transition: all 0.2s;
}

.messages > p,
.messages > p.alert,
.messages > p.notice {
  width: 100%;
  background-color: rgba(95, 181, 35, 0.75);
  text-transform: capitalize;
  padding: 0.3rem;
  font-size: 0.9rem;
  text-align: center;
  transition: all 0.2s;
  z-index: 9999;
}

.links_group a {
  display: block;
  margin: 0.25rem auto;
}
