/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .messages {
  display: flex;
  position: fixed;
  bottom: 100px;
  left: 0;
  width: 100%;
  min-height: 0;
  background-color: #5fb523;
  color: white;
  padding: 0;
  z-index: -1;
 }

 .links_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem auto;
 }

 .messages p {
  display: block;
  width: 100%;
  text-transform: capitalize;
  padding: 0.35rem auto;
  text-align: center;
  transition: all 0.2s;
  animation: auto_close 10s forwards;
 }

 .links_group a {
  display: block;
  margin: 0.25rem auto;
 }

 @keyframes auto_close {
  0% {
    opacity: 1;
    min-height: 0;
  }
  1% {
    min-height: 32px;
    z-index: 999;
  }
  99% {
    opacity: 0.99;
    min-height: 32px;
  }
  100% {
    opacity: 0;
    min-height: 0;
    height: 0;
    visibility: hidden;
    z-index: -1;
  }
 }
